<h1>Lista de Tweets</h1>

<% @tweet.each do |t| %>
  <article class="post">
    <div class="title">
      <h2><%= t.tweet %></h2>
      <p><%= link_to "Delete", t, method: :delete %></p>
    </div>
    <div class="meta">
      <time class="published" datetime="2015-11-01"><%= t.created_at %></time>
      <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
    </div>
  </article>
<% end %>
<% if @tweet.blank? %>
  <p>Nenhum tweet</p>
<% end %>
