<h1>Lista de Mensagens</h1>

<% @tweet.each do |t| %>
  <article class="post">
    <div class="title">
      <h2><%= t.tweet %></h2>
      <p><%= link_to "Deletar", t, method: :delete %></p>
    </div>
    <div class="meta">
      <time class="published"><%= t.created_at.strftime("Enviado no dia %m/%d/%Y as %Hh%M") %></time>
      <a href="#" class="author">
        <span class="name">
          <%= t.user_id.present? ? t.user.name : "Sem user no banco de dados" %>
        </span>
        <img src="images/Asset1.png" alt="" height="35px"/>
      </a>
    </div>
  </article>
<% end %>
<% if @tweet.blank? %>
  <p>Nenhum tweet foi enviado ainda :(</p>
<% end %>
