<h1>Lista de Moipers</h1>

<% @user.each do |u| %>
  <article class="post">
    <div class="title">
      <h2><%= u.name %></h2>
      <h3><%= u.email %></h3>
      <h3><%= u.department %></h3>
      <h3><%= u.about %></h3>
    </div>
  </article>
<% end %>
<% if @user.blank? %>
  <p>Nenhum usuário</p>
<% end %>
