<h1>Lista de Moipers</h1>

<% @user.each do |u| %>
  <article class="post">
    <div class="title">
      <h2><%= u.name %></h2>
      <p><%= u.email %></p>
      <p><%= u.department %></p>
      <p><%= u.about %></p>
    </div>
  </article>
<% end %>
<% if @user.blank? %>
  <p>Nenhum usuário</p>
<% end %>
