<div class="authform">
  <div id="gSignInWrapper">
    <a href="/users/auth/google_oauth2">
      <div id="google_sign_btn" class="customGPlusSignIn">
        <span class="icon"></span>
        <span class="buttonText">Login com e-mail do Moip</span>
      </div>
    </a>
  </div>
</div>
